body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #222326; /*rgb(34,35,38)*/
}
.forms {
    display: inline-block;
}

.addForm {
    float:left;
}

#editFormDiv {
    float:right;
    margin-left: 60px;
}

nav {
    padding: .8em;
    font-size: 36px;
}
nav h1 {
    margin: 0;
}