body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.forms {
    display: inline-block;
}

.addForm {
    float:left;
}

.editForm {
    float:right;
    margin-left: 60px;
}

nav {
    color: white;
    background: black;
    padding: .2em;
    font-size: 36px;
}